body { background-color: #eeeeee; padding: 0; margin: 5px; overflow-y: scroll; }

#jasmine_content { position: fixed; right: 100%; }

.jasmine_reporter { font-size: 12px; font-family: Monaco, "Lucida Console", monospace; line-height: 14px; color: #333333; }
.jasmine_reporter a { text-decoration: none; }
.jasmine_reporter a:hover { text-decoration: underline; }
.jasmine_reporter p, .jasmine_reporter h1, .jasmine_reporter h2, .jasmine_reporter h3, .jasmine_reporter h4, .jasmine_reporter h5, .jasmine_reporter h6 { margin: 0; line-height: 14px; }
.jasmine_reporter .banner, .jasmine_reporter .symbolSummary, .jasmine_reporter .summary, .jasmine_reporter .resultMessage, .jasmine_reporter .specDetail .description, .jasmine_reporter .alert .bar, .jasmine_reporter .stackTrace { padding-left: 9px; padding-right: 9px; }
.jasmine_reporter .version { color: #aaaaaa; }
.jasmine_reporter .banner { margin-top: 14px;color:#fff;background:#000; }
.jasmine_reporter .duration { color: #aaaaaa; float: right; }
.jasmine_reporter .symbolSummary { overflow: hidden; *zoom: 1; margin: 14px 0; }
.jasmine_reporter .symbolSummary li { display: block; float: left; height: 7px; width: 14px; margin-bottom: 7px; font-size: 16px; }
.jasmine_reporter .symbolSummary li.passed { font-size: 14px; }
.jasmine_reporter .symbolSummary li.passed:before { color: #5e7d00; content: "\02022"; }
.jasmine_reporter .symbolSummary li.failed { line-height: 9px; }
.jasmine_reporter .symbolSummary li.failed:before { color: #b03911; content: "x"; font-weight: bold; margin-left: -1px; }
.jasmine_reporter .symbolSummary li.skipped { font-size: 14px; }
.jasmine_reporter .symbolSummary li.skipped:before { color: #bababa; content: "\02022"; }
.jasmine_reporter .symbolSummary li.pending { line-height: 11px; }
.jasmine_reporter .symbolSummary li.pending:before { color: #aaaaaa; content: "-"; }
.jasmine_reporter .bar { line-height: 28px; font-size: 14px; display: block; color: #eee; }
.jasmine_reporter .runningAlert { background-color: #666666; }
.jasmine_reporter .skippedAlert { background-color: #aaaaaa; }
.jasmine_reporter .skippedAlert:first-child { background-color: #333333; }
.jasmine_reporter .skippedAlert:hover { text-decoration: none; color: white; text-decoration: underline; }
.jasmine_reporter .passingAlert { background-color: #a6b779; }
.jasmine_reporter .passingAlert:first-child { background-color: #5e7d00; }
.jasmine_reporter .failingAlert { background-color: #cf867e; }
.jasmine_reporter .failingAlert:first-child { background-color: #b03911; }
.jasmine_reporter .results { margin-top: 14px; }
.jasmine_reporter #details { display: none; }
.jasmine_reporter .resultsMenu, .jasmine_reporter .resultsMenu a { background-color: #fff; color: #333333; }
.jasmine_reporter.showDetails .summaryMenuItem { font-weight: normal; text-decoration: inherit; }
.jasmine_reporter.showDetails .summaryMenuItem:hover { text-decoration: underline; }
.jasmine_reporter.showDetails .detailsMenuItem { font-weight: bold; text-decoration: underline; }
.jasmine_reporter.showDetails .summary { display: none; }
.jasmine_reporter.showDetails #details { display: block; }
.jasmine_reporter .summaryMenuItem { font-weight: bold; text-decoration: underline; }
.jasmine_reporter .summary { margin-top: 14px; }
.jasmine_reporter .summary .suite .suite, .jasmine_reporter .summary .specSummary { margin-left: 14px; }
.jasmine_reporter .summary .specSummary.passed a { color: #5e7d00; }
.jasmine_reporter .summary .specSummary.failed a { color: #b03911; }
.jasmine_reporter .description + .suite { margin-top: 0; }
.jasmine_reporter .suite { margin-top: 14px; }
.jasmine_reporter .suite a { color: #333333; }
.jasmine_reporter #details .specDetail { margin-bottom: 28px; }
.jasmine_reporter #details .specDetail .description { display: block; color: white; background-color: #b03911; }
.jasmine_reporter .resultMessage { padding-top: 14px; color: #333333; }
.jasmine_reporter .resultMessage span.result { display: block; }
.jasmine_reporter .stackTrace { margin: 5px 0 0 0; max-height: 224px; overflow: auto; line-height: 18px; color: #666666; border: 1px solid #ddd; background: white; white-space: pre; }

/*.jasmine_reporter { padding: 8px 13px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow-y: scroll; background-color: white; font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif; }
.jasmine_reporter a:visited, .jasmine_reporter a { color: #303; }
.jasmine_reporter a:hover, .jasmine_reporter a:active { color: blue; }
.jasmine_reporter .run_spec { float: right; padding-right: 5px; font-size: .8em; text-decoration: none; }
.jasmine_reporter .banner { color: #303; background-color: #fef; padding: 5px; }
.jasmine_reporter .logo { float: left; font-size: 1.1em; padding-left: 5px; }
.jasmine_reporter .logo .version { font-size: .6em; padding-left: 1em; }
.jasmine_reporter .runner.running { background-color: yellow; }
.jasmine_reporter .options { text-align: right; font-size: .8em; }
.jasmine_reporter .suite { border: 1px outset gray; margin: 5px 0; padding-left: 1em; }
.jasmine_reporter .suite .suite { margin: 5px; }
.jasmine_reporter .suite.passed { background-color: #dfd; }
.jasmine_reporter .suite.failed { background-color: #fdd; }
.jasmine_reporter .spec { margin: 5px; padding-left: 1em; clear: both; }
.jasmine_reporter .spec.failed, .jasmine_reporter .spec.passed, .jasmine_reporter .spec.skipped { padding-bottom: 5px; border: 1px solid gray; }
.jasmine_reporter .spec.failed { background-color: #fbb; border-color: red; }
.jasmine_reporter .spec.passed { background-color: #bfb; border-color: green; }
.jasmine_reporter .spec.skipped { background-color: #bbb; }
.jasmine_reporter .messages { border-left: 1px dashed gray; padding-left: 1em; padding-right: 1em; }
.jasmine_reporter .passed { background-color: #cfc; display: none; }
.jasmine_reporter .failed { background-color: #fbb; }
.jasmine_reporter .skipped { color: #777; background-color: #eee; display: none; }
.jasmine_reporter .resultMessage span.result { display: block; line-height: 2em; color: black; }
.jasmine_reporter .resultMessage .mismatch { color: black; }
.jasmine_reporter .stackTrace { white-space: pre; font-size: .8em; margin-left: 10px; max-height: 5em; overflow: auto; border: 1px inset red; padding: 1em; background: #eef; }
.jasmine_reporter .finished-at { padding-left: 1em; font-size: .6em; }
.jasmine_reporter.show-passed .passed, .jasmine_reporter.show-skipped .skipped { display: block; }
.jasmine_reporter #jasmine_content { position: fixed; right: 100%; }
.jasmine_reporter .runner { border: 1px solid gray; display: block; margin: 5px 0; padding: 2px 0 2px 10px; }*/
