* {
    padding: 0;
    margin: 0;
}

body {
  background: #fff;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

@font-face {
  font-family: Rocketman;
  src: url(RocketMan.ttf);
  font-weight:400;
}

img { border: none; }
a { text-decoration: none;}
a:hover { text-decoration: underline; }

#wrap {
  width:1000px; 
  margin: 0 auto;
  overflow: hidden;
  background: #333;
}

#header {
  height:5em;
  line-height:4.5em;
  padding-left:85px;
  margin:2em 1em;
  float:left;
}
#header h1 { 
  font-family:Rocketman;
  font-size:53px;
  color:#fff;
}
#navigation { 
  margin:2em;
  float:left; 
}
#navigation ul li { 
  float:left; 
  margin:1em; 
}
#navigation ul li a {
  font-family:Rocketman;
  font-size:16px; 
  color:#eee;
}
#navigation ul li a:hover {
  color:#fff;
  text-decoration:none;
}

#content {
  font-family: sans-serif;
  margin: 1em auto;
  padding:1em;
  text-align: justify;
  overflow-y:auto;
  background:#fff;
  width: 780px;
  height: 520px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#content h1 {
 font-size:22px;
 margin-bottom:8px;
}


#footer { 
  text-align:center;
  height: 25px;
}

